body{
    background-image: url(kid.jpg);
    background-position: center;
    background-attachment: auto;
    background-size: cover;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 8px;
}
h4{
    color: red;
}

h3{
    text-shadow: 0.5px 0.5px;
    color: blueviolet;
}

#p1{
    color: blueviolet 
}

#lyrics{
    color: black;
    text-shadow: 1px 1px;
   
}
pre{
    color: rgb(164, 67, 255);
    width: 150%;
    text-shadow: 0.5px 0.5px;
    
    padding: 10px;
}   

footer{
  color: aliceblue;
}





border-style: double;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;

